{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es"
      },
      "antd"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": ""
      },
      "lodash"
    ],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "~",
            "rootPathSuffix": "./"
          },
          {
            "rootPathPrefix": "%",
            "rootPathSuffix": "./components"
          },
          {
            "rootPathPrefix": "#",
            "rootPathSuffix": "./app-pages"
          }
        ]
      }
    ]
  ]
}
